@import "tailwindcss";

@theme {
  --color-yoga-olive-light: #606c38;
  --color-yoga-olive-dark: #283618;
  --color-yoga-cream: #fefae0;
  --color-yoga-ochre: #dda15e;
  --color-yoga-terracotta: #bc6c25;
}